@import '../../../public/mixin/vars.module'

.form
  background-color: #ffffff
  border-radius: 24px
  border: solid 2px #06609e
  margin-top: 50px
  padding: 20px 36px
  width: 400px

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

  input[type="number"]
    -moz-appearance: textfield

  &__container
    display: block
    margin-bottom: 15px

  &__title
    color: $main__color
    font-family: monospace
    font-size: 25px
    margin-bottom: 25px
    text-align: center

  label
    color: #000000
    display: block
    font-size: 15px
    padding: 10px 5px

  input,
  textarea
    border-radius: 5px
    border: 1px solid #c0c4c9
    display: block
    font-size: 13px
    outline: none
    padding: 8px 10px
    width: 100%

  textarea
    resize: none
    height: 200px

  .button
    background-color: $main__color
    border-radius: 5px
    border: none
    color: #ffffff
    cursor: pointer
    font-size: 15px
    padding: 15px 20px
    transition: background-color 0.5s ease

textarea.field
  resize: none
  height: 200px

.button__container
  margin-top: 30px
