@import '../../../public/mixin/index.module'
@import '../../../public/mixin/vars.module'

.contact
  display: flex
  justify-content: center
  align-content: center
  padding-bottom: 20px

  &__contact
    width: 500px
    padding-left: 0

    li
      display: flex
      list-style: none
      margin-bottom: 20px

      strong
        font-weight: 500
        font-size: 20px

      img
        margin-top: 2px
        margin-right: 20px
        height: 20px

      span
        color: #414141
        margin-top: 10px
        display: block

  &__container
    display: flex
    justify-content: center
    padding: 20px
    flex-direction: column

  &__header
    color: $main__color
    font-family: monospace

  @media only screen and (max-width: 820px)
    transform: scale(0.8)

  @include mobile
    flex-direction: column
    margin-top: -125px

    &__contact,
    &__container
      width: 100%

    div:has(form)
      margin-top: 0
