@import '../../../public/mixin/index.module'
@import '../../../public/mixin/vars.module'

.contact
  display: flex
  justify-content: center
  align-content: center
  padding-bottom: 20px

  &__contact
    padding-left: 0
    width: 500px

    li
      display: flex
      list-style: none
      margin-bottom: 20px

      strong
        font-weight: 500
        font-size: 20px

      img
        margin-top: 2px
        margin-right: 20px
        height: 20px

      span
        color: #414141
        margin-top: 10px
        display: block

  &__container
    display: flex
    justify-content: center
    padding: 20px
    flex-direction: column

  &__header
    color: $main__color
    font-family: monospace

  @include mobile
    flex-direction: column

    &__container
      margin-top: 50px
      padding: 0 20px

    &__contact
      padding-left: 0
      width: 100%

    form
      margin-top: 0
      width: 300px
