@import '../../../../../public/mixin/index.module'
@import '../../../../../public/mixin/vars.module'

.alphabet-page
  align-items: center
  background-color: #fff
  display: flex
  flex-direction: column
  font-family: Arial, sans-serif
  min-height: 100vh
  width: 100%

  header
    text-align: center

  .logo
    img
      width: 60px

    span
      display: inline-block
      position: relative
      left: 13px

    span:nth-child(1)
      left: 25px
      transform: rotate(-11deg)
      top: -19px

    span:nth-child(2)
      left: 22px
      transform: rotate(30deg)
      top: 8px

    span:nth-child(3)
      left: 15px
      transform: rotate(23deg)

    .red
      color: #f44336

    .blue
      color: #2196f3

  .title
    -webkit-background-clip: text
    background-clip: text
    background-image: linear-gradient(rgb(45, 200, 254) 0%, rgb(14, 163, 227) 39.5987%, rgb(4, 108, 169) 70.8026%, rgb(4, 62, 110) 100%)
    color: transparent
    margin: 0
    padding: 0
    text-transform: uppercase

  .song-button
    cursor: pointer
    margin-top: 20px
    width: 40px

  .letter-grid
    display: grid
    grid-template-columns: repeat(9, 3rem)
    gap: 1rem

  .letter
    -webkit-background-clip: text
    align-items: center
    background-clip: text
    background-image: linear-gradient(rgb(45, 200, 254) 0%, rgb(14, 163, 227) 39.5987%, rgb(4, 108, 169) 70.8026%, rgb(4, 62, 110) 100%)
    border-radius: 0.4rem
    border: 1.5px solid #066fac
    color: transparent
    cursor: pointer
    display: flex
    font-size: 1.8rem
    font-weight: bold
    height: 3rem
    justify-content: center
    margin: 0
    padding: 0
    position: relative
    text-transform: capitalize
    width: 3rem

    &.letter-animation
      color: white
      background: linear-gradient(rgb(45, 200, 254) 0%, rgb(14, 163, 227) 39.5987%, rgb(4, 108, 169) 70.8026%, rgb(4, 62, 110) 100%)

  .beat
    animation: beat 1s infinite

  .letter-selected
    border-radius: 8px
    border: solid #066fac
    display: flex
    justify-content: space-around
    padding: 10px
    width: 300px

  .feedback-message
    display: flex
    align-items: center
    justify-content: center
    font-size: 14px
    font-weight: bold

  .letter-selected-container
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 20px

  div.letter-animation
    color: white !important
    transition: all 1s easy

  .blue-border.letter-animation
    background-color: #2196f3

  .red-border.letter-animation
    background-color: #f44336

  .moving
    animation: moving 0.8s infinite

  .feedback
    border-radius: 5px
    color: white
    font-size: 12px
    margin-bottom: 30px
    padding: 10px

  @media only screen and (max-width: 400px)
    .letter-grid
      grid-template-columns: repeat(5, 3rem)

  @media only screen and (min-width: 1100px)
    zoom: 1.5

@keyframes beat
  0%, 100%
    transform: scale(1)

  25%
    transform: scale(1.2)

  50%
    transform: scale(1)

@keyframes moving
  0%, 100%
    transform: translateX(0) rotate(0deg) scale(1)

  25%
    transform: translateX(-20px) rotate(-11deg) scale(1.05)

  50%
    transform: translateX(20px) rotate(11deg) scale(1.05)

  75%
    transform: translateX(-10px) rotate(-5deg) scale(1.02)
