@import '../../../public/mixin/index.module'

$red-color: red
$blue-color: #055b96
$gray-color: #666

.home
  font-family: Inter-black

  &__block
    display: block

  &__article1
    height: auto

    .home__wrapper
      display: flex
      justify-content: center

      h2
        font-family: 'Inter-ExtraBold'
        color: $blue-color
        font-size: 65px
        font-weight: 900
        margin-bottom: 20px
        max-width: 643px

      ul
        font-size: 22px
        margin: 0 28px
        padding: 0

        li
          font-weight: 600
          margin-bottom: 20px

    .home__content
      align-items: center
      display: flex
      height: 562px
      justify-content: space-between
      padding: 0 20px
      width: 1568px

    .home__buttons
      margin-top: 20px

      > a
        background-color: $red-color
        border-radius: 15px
        color: white
        cursor: pointer
        display: inline-block
        font-weight: bold
        max-width: 300px
        text-decoration: none
        width: 100%

        &:first-child
          font-size: 31px
          padding: 11px 14px
          text-align: center

    .home__circle
      display: flex
      height: 100%
      max-width: 859px
      overflow: hidden
      position: relative
      width: 100%

      &::before
        background-color: $red-color
        border-radius: 409px
        bottom: -472px
        content: ''
        display: block
        height: 818px
        left: 50%
        position: absolute
        transform: translate(-50%)
        width: 818px

    .home__image
      @include fadeInFromBottom(fadeInFromBottom1, -123px)
      @include fadeInFromBottom(fadeInFromBottom2, -7px)
      bottom: -600px
      height: 456px
      position: relative
      z-index: 3

      &:first-child
        animation: fadeInFromBottom1 0.5s forwards
        animation-delay: 0.4s
        height: 445px
        left: -13px
        z-index: 2

      &:nth-last-of-type(2)
        animation: fadeInFromBottom2 0.5s forwards
        animation-delay: 1.2s
        height: 566px
        left: -167px

      &:last-child
        animation: fadeInFromBottom1 0.5s forwards
        animation-delay: 0.8s
        height: 461px
        left: -304px
        z-index: 2

  @media only screen and (max-width: 1399px)
    .home__article1
      .home__content
        flex-direction: column
        height: auto
        padding: 0 20px

      .home__banner
        width: 100%

      .home__image
        width: 100%

  @media only screen and (max-width: 481px)
    .home__article1

      li
        font-size: 15px

      h2
        font-family: 'Inter-ExtraBold'
        font-size: 30px

      .home__buttons
        a
          font-size: 20px

      .home__banner
        display: flex
        flex-direction: column

        span
          &:last-child
            margin: 0
            margin-top: 10px

      .home__content
        div
          padding: 0

      .home__wrapper
        margin-top: 0

      .home__circle
        justify-content: center
        height: 277px
        width: 100%

        &::before
          height: 637px
          width: 312px

      .home__image
        animation: none
        height: 200px
        bottom: 0

        &:first-child
          height: 187px
          bottom: -90px
          left: 58px

        &:nth-last-of-type(2)
          left: -16px
          height: 261px
          bottom: -17px

        &:last-child
          left: -79px
          bottom: -75px
          height: 204px

  &__article2
    background-color: #fafafa
    display: flex
    justify-content: center
    padding-bottom: 50px

    .home__wrapper
      width: 1100px

    .home__header
      color: black
      margin-top: 60px
      padding: 0 20px

      h2
        font-family: 'Inter-ExtraBold'
        background-color: $red-color
        border-radius: 20px
        color: white
        font-size: 39px
        padding: 20px
        text-align: center

      p
        font-size: 20px
        text-align: center
        line-height: 1.4

    .home__header2
      text-align: center
      margin-bottom: 20px
      padding: 20px

      h2
        font-family: 'Inter-ExtraBold'
        font-size: 37px

      h3
        font-family: 'Inter-ExtraBold'
        background-color: $blue-color
        border-radius: 20px
        color: white
        font-size: 39px
        padding: 20px
        text-align: center

    .home__lists
      list-style: none
      color: black

      li
        align-items: center
        display: flex
        margin-bottom: 30px

      span
        font-size: 30px
        padding: 20px
        font-weight: bold

      img
        opacity: 0
        transition: opacity 2s ease
        width: 150px

      .img__visible
        opacity: 1

    @media only screen and (max-width: 481px)
      .home__wrapper
        width: 100%

        h2, span, h3, p
          font-size: 15px

      .home__header
        padding: 0 20px

      .home__lists
        img
          width: 80px

      .home__header2
        padding: 0 20px

      .home__header3
        margin-top: 40px

      .home__content
        margin-top: 20px

        img
          height: 200px

  &__article20
    align-items: center
    display: flex
    flex-direction: column
    justify-content: space-evenly
    margin: 50px 0

    h2
      font-family: 'Inter-ExtraBold'
      margin-top: 80px
      background-color: red
      border-radius: 20px
      color: white
      font-size: 39px
      padding: 20px
      text-align: center

    .home__discord
      align-items: center
      display: flex
      justify-content: center

      a
        align-items: center
        background-color: $blue-color
        border-radius: 42px
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px 0px
        color: white
        cursor: pointer
        display: flex
        font-size: 40px
        justify-content: center
        margin-right: 20px
        padding: 10px 20px
        text-align: center
        text-decoration: none

      img
        width: 70px

    .home__content
      display: flex

      h2
        background-color: transparent
        color: $blue-color
        display: block
        display: inline
        font-weight: 700
        margin: 0
        padding: 0

        &:nth-child(1)
          font-size: 70px
          font-weight: 900

      p
        font-size: 23px
        line-height: 1.5
        width: 656px

      a
        background-color: $blue-color
        border-radius: 15px
        color: #fff
        cursor: pointer
        display: block
        display: inline-block
        font-size: 25px
        font-weight: bold
        padding: 20px
        text-align: center
        text-decoration: none
        width: 300px

      img
        height: 500px
        opacity: 0
        padding: 20px

      .img__animation
        animation: imgAnimation 1.1s ease-in-out forwards

        @keyframes imgAnimation
          0%
            transform: scale(0.2)

          5%
            transform: scale(0.4)

          10%
            transform: scale(0.6)

          15%
            transform: scale(0.8)

          20%
            transform: scale(1)

          25%
            opacity: 1
            transform: scale(1.2)

          50%
            transform: scale(1)

          75%
            transform: scale(1.2)

          100%
            opacity: 1
            transform: scale(1)

    @media only screen and (max-width: 1399px)
      div
        align-items: center
        flex-direction: column
        padding: 20px

      .home__discordContent
        img
          margin-top: 20px
          width: 100px

    @media only screen and (max-width: 481px)
      margin: 0

      > div
        &:nth-child(1)
          padding: 0 !important

      .home__discordContent
        h2
          margin-top: -80px
          font-size: 15px !important

        a
          font-size: 15px !important
          margin-right: 0

        img
          width: 60px
          margin-top: 20px

      .home__content
        h2
          font-size: 40px !important

        div:first-child
          padding: 20px

        span
          &:nth-child(1)
            font-size: 39px

          &:nth-child(2)
            font-size: 30px
            font-weight: 900

        img
          height: auto
          width: 100%

        p
          font-size: 15px
          width: 100%

        a
          padding: 14px 0
          font-size: 15px

        .home__block
          display: inline

  &__article3
    display: flex
    justify-content: space-around
    background-color: #e3e3e3

    .home__wrapper
      margin-bottom: 50px

    .home__header
      color: $red-color
      font-size: 30px
      padding-top: 50px
      padding: 20px
      text-align: center

      h2
        font-family: 'Inter-ExtraBold'
        font-weight: 900

    .home__cards
      display: flex

    .home__card
      background-color: #ffffff
      border-radius: 23px
      height: 310px
      margin-left: 20px
      padding: 20px
      height: auto
      width: 300px

      span, p
        color: $gray-color

      p
        font-weight: 500
        line-height: 1.5

      .home__name
        display: inline-block
        margin-left: 20px

        span
          font-size: 14px
          position: relative
          top: -16px

      img
        height: 50px
        border-radius: 50%

    @media only screen and (max-width: 1399px)
      .home__card
        width: 100%

        &:last-child
          margin-right: 20px

    @media only screen and (max-width: 481px)
      .home__cards
        flex-direction: column
        align-items: center

      .home__card
        margin-bottom: 30px
        width: 300px

      .home__header
        font-size: 20px

  &__article4
    display: flex
    justify-content: center
    align-content: center

    .home__wrapper
      align-items: center
      display: flex
      justify-content: center
      margin-top: 30px
      margin-bottom: 30px

      div:last-child
        display: flex
        flex-direction: column
        padding: 30px

      svg
        margin-top: -33px

    img
      width: 300px

      &:last-child
        opacity: 0.2

    header
      width: 600px

      h2
        font-family: 'Inter-ExtraBold'
        color: $blue-color
        font-size: 54px
        margin-bottom: 0

      p
        color: black
        font-size: 30px

    form
      display: flex

      div
        display: flex
        flex-direction: column

      span
        font-size: 12px
        margin-top: 10px

    input[type="email"]
      appearance: none
      background: rgb(235, 235, 235)
      border-radius: 15px
      border: none
      color: rgb(0, 0, 0)
      font-size: 16px
      height: auto
      outline: none
      padding: 15px
      width: 430px

    input[type="button"]
      appearance: none
      background: black
      border-radius: 15px
      border: none
      color: rgb(255, 255, 255)
      cursor: pointer
      font-size: 16px
      font-style: normal
      font-weight: 500
      height: 100%
      letter-spacing: 0em
      line-height: 1em
      margin-left: 10px
      outline: none
      padding: 15px
      width: 120px
      z-index: 1

    @media only screen and (max-width: 1399px)
      .home__wrapper
        flex-direction: column-reverse

        div:last-child
          padding: 0

        svg
          margin-left: 20px
          margin-top: -5px

    @media only screen and (max-width: 481px)
      .home__wrapper
        form
          padding: 20px

        img
          width: 200px

        div:last-child
          align-items: center
          padding: 0

        div:first-child
          padding: 0 !important

          header
            text-align: center
            width: 100%

        h2
          font-size: 30px

        p
          font-size: 20px

        form
          flex-direction: column

          input
            width: 100%

          input[type="button"]
            margin-top: 10px
            margin-left: 0

  &__article5
    align-content: center
    background-color: red
    box-shadow: inset 0 .7961918735236395px 2.3885756205709185px -.75px #00000045, inset 0 2.414506143104518px 7.2435184293135535px -1.5px #00000042, inset 0 6.382653521484461px 19.147960564453385px -2.25px #0000003e, inset 0 20px 60px -3px #0000002e
    display: flex
    justify-content: center
    padding: 40px 0

    .home__content
      color: white
      text-align: center

      h1
        font-size: 39px

      p
        font-size: 27px

    .home__buttons
      display: flex
      justify-content: center

      a
        background-color: rgb(255, 255, 255)
        border-radius: 15px
        color: rgb(214, 14, 14)
        display: block
        font-size: 18px
        font-weight: 700
        height: 50px
        padding: 13px 40px
        text-align: center
        text-decoration: none
        width: 206px

    @media only screen and (max-width: 481px)
      padding: 20px

      h1, p
        font-size: 20px !important
