@import '../../../public/mixin/index.module'

$red-color: red
$blue-color: #055b96
$gray-color: #666

.home
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
