@import '../../../../public/mixin/index.module'
@import '../../../../public/mixin/vars.module'

.vocabularies
  color: black

  &__table
    padding: 0 10px
    width: 100%

  &__container
    display: flex
    width: 100%

  &__aside
    border-right: 1px solid #e9e9e9
    width: 200px

  &__header
    padding: 20px
    text-align: center

  &__tabs
    list-style: none
    margin: 0
    padding: 0

  &__section
    padding: 20px
    display: block

  &__tab
    border-bottom: 1px solid #e9e9e9
    cursor: pointer
    text-transform: capitalize
    transition: background-color 0.3s ease

    &:first-child
      border-top: 1px solid #e9e9e9

  &__tabFocus
    background-color: $main__color
    color: white

  @include mobile
    &__table
      overflow-x: scroll

    &__container
      flex-direction: column
      font-size: 1rem

    &__aside
      width: 100%

.table
  font-family: arial, sans-serif
  border-collapse: collapse
  width: 100%

  &__image_container
    align-items: center
    display: flex
    justify-content: center
    position: relative

  &__feedback
    position: absolute
    border-radius: 9px
    color: white
    padding: 10px 20px

  &__theadTh
    text-align: center

  &__tbodyTd
    text-align: center
    text-transform: capitalize

  &__image
    border-radius: 20px
    height: 120px
    width: 120px

  &__theadTh,
  &__tbodyTd
    padding: 20px

  @include mobile
    &__theadTh,
    &__tbodyTd
      font-size: 1rem

    &__tbodyTd
      text-align: right

    &__image
      margin-right: -40px

    p
      text-align: center

    span
      margin-left: 40px

.sound
  &__icon
    cursor: pointer
    width: 50px

  // @include mobile
  //   margin-right: 55px
