@import '../../../public/mixin/index.module'
@import '../../../public/mixin/vars.module'

.payment
  align-items: center
  display: flex
  flex-direction: column

  &__container
    align-items: center
    border-radius: 10px
    border: solid 2px #06609e
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 150px
    padding: 20px
    position: relative

  &__inputs
    margin-top: 20px
    display: flex

  &__inputs_container
    width: 100%

  &__card
    position: absolute
    top: -92px

  &__form
    padding: 20px

  &__input
    border-radius: 8px
    border: solid 1px #d1d1d1
    margin-top: 10px
    outline: none
    padding: 10px
    width: 100%

  input[name="cvc"]
    margin-left: 10px
    width: 160px

  &__input_button
    margin-top: 13px

    button
      background-color: #06609e
      border-radius: 8px
      border: none
      color: #fff
      cursor: pointer
      padding: 15px 20px
      width: 100%

  &__errorMessage
    color: #f44336
    display: block
    font-size: 12px
    margin-top: 5px
    position: absolute

  &__title
    color: $main__color
    font-family: monospace
    font-size: 40px
    margin-top: 75px

  &__cvc
    margin-left: 15px

  @include mobile
    &__title
      font-size: 30px

    &__container
      border-radius: 0
      margin-bottom: 105px
