@import '../../../public/mixin/index.module'

.modal
  align-items: center
  background-color: rgba(0, 0, 0, 0.6)
  color: black
  display: flex
  height: 100%
  justify-content: center
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 9999

  &__fadeIn
    animation: fadeInOut .5s forwards alternate

  @include mobile
    overflow-x: scroll

    &__close
      right: 20px

  @keyframes fadeInOut
    0%
      opacity: .5

    100%
      opacity: 1
