html
  background-color: #fff
  font-family: system-ui

section
  margin-top: -25px

@font-face
  font-family: 'Inter-ExtraBold'
  src: url('../public/fonts/inter/Inter-ExtraBold.ttf') format('truetype')

@font-face
  font-family: 'Inter-black'
  src: url('../public/fonts/inter/Inter-Light.ttf') format('truetype')
