@import '../../../public/mixin/vars.module'
@import '../../../public/mixin/index.module'

.terms
  display: flex
  justify-content: center
  text-align: justify

  &__form
    padding: 20px

    div
      margin-top: 10px

    label
      margin-left: 5px

    input
      cursor: pointer

    input[type="button"]
      border: none
      background-color: #f44336
      border-radius: 8px
      color: #fff
      padding: 10px

  &__content
    border-right: 0
    height: 400px
    margin-top: 20px
    overflow: auto

  &__all
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    text-align: justify

    section
      margin-top: 0

  p
    line-height: 1.5

  &__center
    text-align: center

  &__container
    background: #085b96
    color: white
    max-width: 800px
    padding: 20px

  ol, ul
    counter-reset: item
    list-style-type: none

  li
    counter-increment: item
    margin-bottom: 10px

    &:before
      content: counter(item) "."
      font-weight: bold
      margin-bottom: 10px
      margin-right: 10px

  &__listAbc
    list-style-type: none
    counter-reset: abc-counter

    li
      counter-increment: abc-counter

      &:before
        content: counter(abc-counter, lower-alpha) "."

  @include mobile
    &__content
      border: none

    &__container
      padding: 0 10px

    &__form
      padding: 20px 10px

