.profile-page {
  display: flex;
  min-height: 100vh;
  padding-top: 5rem;
}

.modal-table {
  background-color: white;
  min-height: 200px;
  padding: 20px;
}

.modal-table-title {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  position: relative;
  z-index: 2;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.content__cover {
  position: relative;
  background-color: #06609e;
}

.content__avatar {
  background-size: cover;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  height: 12rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 12rem;
  z-index: 2;
}

.content__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.content__title {
  margin-top: 4.5rem;
  text-align: center;
  order: 1;
  text-transform: capitalize;
}


.content__title h1 {
  color: #494949;
  font-weight: 400;
}

.content__title span {
  line-height: 3;
  color: #494949;
}

.content__title h1 {
  margin-bottom: 0.1rem;
  font-size: 26px;
  margin-top: 50px;
}

.content__title span {
  font-size: 1rem;
}

.content__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  order: 3;
  padding: 0;
}

.content__list li {
  padding: 0 1.5rem;
  text-align: center;
  font-size: 1rem;
}

.content__list li:nth-child(2) {
  margin-left: -32px;
}

.content__file {
  display: none;
}

.modal {
  position: relative;
}

.modal>div:nth-child(1) {
  right: -40px;
}

.content__list li span {
  color: #494949;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.content__button {
  margin: 2rem 0 2rem;
  text-align: center;
  order: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  background: #06609e;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 10px;
  min-width: 167px;
  text-align: center;
  text-decoration: none;
}

.button:last-child {
  background-color: #F44336;
}

.button:hover {
  color: #fff;
}

@media (max-width: 990px) {
  .content__list {
    order: 2;
    width: 100%;
    flex-direction: column;
  }
}


.bg {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg div {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background: #06609e;
}

.bg span:nth-child(1) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(2) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(3) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(4) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(5) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(6) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(7) {
  display: block;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  animation: floating 34s infinite;
}

.bg span:nth-child(1) {
  width: 11rem;
  height: 11rem;
  top: 30%;
  left: 16%;
  background: rgba(255, 255, 255, 0.05);
  animation-duration: 34s;
}

.bg span:nth-child(2) {
  width: 8rem;
  height: 8rem;
  top: 18%;
  left: 1%;
  background: rgba(255, 255, 255, 0.12);
  animation-duration: 40s;
}

.bg span:nth-child(3) {
  width: 8rem;
  height: 8rem;
  top: 34%;
  right: 10%;
  background: rgba(255, 255, 255, 0.1);
  animation-duration: 38s;
}

.bg span:nth-child(4) {
  width: 4rem;
  height: 4rem;
  top: 34%;
  right: 3%;
  background: rgba(255, 255, 255, 0.2);
  animation-duration: 34s;
}

.bg span:nth-child(5) {
  width: 12rem;
  height: 12rem;
  top: 42%;
  right: 28%;
  background: rgba(255, 255, 255, 0.1);
  animation-duration: 40s;
}

.bg span:nth-child(6) {
  width: 8rem;
  height: 8rem;
  top: 72%;
  left: 6%;
  background: rgba(255, 255, 255, 0.05);
  animation-duration: 38s;
}

.bg span:nth-child(7) {
  width: 4rem;
  height: 4rem;
  top: 82%;
  right: 8%;
  background: rgba(255, 255, 255, 0.05);
  animation-duration: 34s;
}

.modal-delete-user {
  background-color: white;
  padding: 20px;
}

.modal-delete-user div:first-child {
  margin: -50px;
}

.modal-delete-user-button {
  display: flex;
  justify-content: space-evenly;
}

.modal-delete-user-button button {
  background-color: #F44336;
  cursor: pointer;
}

.modal-delete-user-button button:first-child {
  background-color: #4caf50;
  cursor: pointer;
}

.modal-delete-user-button button {
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
}

@media (max-width: 480px) {
  div:has(.modal-table) {
    align-items: unset;
  }
}

@media (max-width: 990px) {
  .content__list li:nth-child(2) {
    margin-left: 0;
  }

  .modal {
    width: 76%;
  }

  .modal:has(table) {
    width: 100%;
  }

  .profile-page {
    padding-top: 0;
  }

  .content {
    max-width: 420px;
    padding: 0;
    border-radius: 0;
  }

  .profile-page .content__avatar {
    width: 11rem;
    height: 11rem;
    border: 0.3rem solid #fff;
    box-shadow: none;
  }

  .profile-page .content__title {
    margin-top: 4.5rem;
  }

  .content__title span {
    font-size: 0.9rem;
  }

  .content__list li {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .content__list li span {
    font-size: 1.2rem;
  }

  .content__button {
    margin: 0rem 0 2.2rem;
    flex-direction: column;
  }
}

@-moz-keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@-o-keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}