@import '../../../../public/mixin/index.module'

.close
  cursor: pointer
  right: 0
  top: 0
  z-index: 999999
  text-align: right

  span
    font-weight: bold
    font-family: monospace
    font-size: 18px
