@import '../../../public/mixin/vars.module'
@import '../../../public/mixin/index.module'

$conic__gradient1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, $main__color 0)
$conic__gradient2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, $main__color 0)

.imageLazy
  &__loader
    width: 85px
    height: 50px
    background: $conic__gradient1, $conic__gradient1, $conic__gradient1, $conic__gradient2, $conic__gradient2, $conic__gradient2
    background-position: left, center, right
    background-repeat: no-repeat
    animation: animation 1s infinite

  @include mobile
    &__loader
      transform: scale(0.6)

@keyframes animation
  0%
    background-size: 25px 50%, 25px 50%, 25px 50%
  25%
    background-size: 25px 100%, 25px 50%, 25px 50%
  50%
    background-size: 25px 50%, 25px 100%, 25px 50%
  75%
    background-size: 25px 50%, 25px 50%, 25px 100%
  100%
    background-size: 25px 50%, 25px 50%, 25px 50%
