@import '../../../public/mixin/index.module'

.speech
  align-items: center
  display: flex
  flex-direction: column

  &__icon
    cursor: pointer
    border-radius: 50%
    height: 53px
    width: 53px
  
  &__beatAnimation
    animation: beat 1s infinite

  &__feedback
    -webkit-background-clip: text
    background-clip: text
    @include background-gradient()
    color: transparent
    font-weight: bold

  @keyframes beat
    0%, 100%
      transform: scale(1)

    25%
      transform: scale(1.2)

    50%
      transform: scale(1)
